In [1]:
import pandas as pd
staff_df = pd.read_excel("./static/DS CBCNV phòng, ban 4.10.2023.xlsx")
staff_df = staff_df.rename(columns={
    'Họ & tên': 'HoTen',
    'Mã NV': 'MaNV',
    'Bộ phận': 'BoPhan', 
    'Phòng/ ban': 'PhongBan'
})
staff_df

     STT                  HoTen   MaNV BoPhan PhongBan           Unnamed: 5
0      1    Nguyễn Thị Kim Liên  L0768    KTO     P.KT                  NaN
1      2  Nguyễn Thị Phương Lan  L0356    KTO     P.KT                  NaN
2      3          Lê Thị Phương  P0267    KTO     P.KT                  NaN
3      4      Bùi Thị Kim Tuyến  T2974    KTO     P.KT                  NaN
4      5     Trần Thị Xuân Thủy  T2629    KTO     P.KT                  NaN
..   ...                    ...    ...    ...      ...                  ...
191  192            Đỗ Văn Phúc  P0677   KTTB      BTB                  NaN
192  193       Nguyễn Ngọc Hùng  H0879   KTTB      BTB                  NaN
193  194         Huỳnh Văn Toàn  T2548   KTTB      BTB                  NaN
194  195       Nguyễn Đình Hiến  H7001  KHOAN    NGOÀI  P. Tổng hợp quản lý
195  196         Nguyễn Văn Hòa  H7002  KHOAN    NGOÀI  P. Tổng hợp quản lý

[196 rows x 6 columns]

# SQLite create

In [2]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Tạo engine và session
engine = create_engine('sqlite:///instance/pccc.db')
Base = declarative_base()
Session = sessionmaker(bind=engine)
session = Session()

C:\Users\truon\AppData\Local\Temp\ipykernel_19080\873168939.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

## create table

In [3]:
# Định nghĩa lớp NhanVien
class NhanVien(Base):
    Id = Column(Integer, primary_key=True, autoincrement=True)
    MaNV = Column(String(10))
    HoTen = Column(String(255))
    BoPhan = Column(String(255))
    PhongBan = Column(String(255))
    __tablename__  = "NhanVien"
    extend_existing = True

class Account(Base):
    Id = Column(Integer, primary_key=True, autoincrement=True)
    MaNV = Column(String(10))
    HoTen = Column(String(255))
    BoPhan = Column(String(255))
    PhongBan = Column(String(255))
    PassWord = Column(String(255))
    Role = Column(String(10))
    __tablename__  = "Account"
    extend_existing = True
    
# Tạo bảng (nếu chưa tồn tại)
Base.metadata.create_all(engine)

## Insert Staff

In [4]:
for idx in range(staff_df.__len__()):
    staff_info = staff_df.iloc[idx]
    manv = staff_info.MaNV
    hoten = staff_info.HoTen
    bophan = staff_info.BoPhan
    phongban = staff_info.PhongBan
    # Tạo một đối tượng NhanVien và thêm vào cơ sở dữ liệu
    nhanvien = NhanVien(MaNV=manv, HoTen=hoten, BoPhan=bophan, PhongBan=phongban)
    session.add(nhanvien)
    session.commit()

## Insert Account

In [5]:
accounts = [
    {"MaNV": "L0768", "HoTen": "Nguyễn Thị Kim Liên", "BoPhan": "KTO", "PhongBan": "P.KT", "PassWord": "123", "Role": "admin"},
    {"MaNV": "L0356", "HoTen": "Nguyễn Thị Phương Lan", "BoPhan": "KTO", "PhongBan": "P.KT", "PassWord": "123", "Role": "user"},
    {"MaNV": "X0023", "HoTen": "Trần Thị Xuân", "BoPhan": "QTĐS", "PhongBan": "P.QTĐS", "PassWord": "123", "Role": "user"},
]

In [6]:
for acc in accounts:
    MaNV = acc["MaNV"]
    HoTen = acc["HoTen"]
    BoPhan = acc["BoPhan"]
    PhongBan = acc["PhongBan"]
    PassWord = acc["PassWord"]
    Role = acc["Role"]
    
    account = Account(MaNV=MaNV, HoTen=HoTen, BoPhan=BoPhan, PhongBan=PhongBan, PassWord=PassWord, Role=Role)
    session.add(account)
    session.commit()